.chat-sidebox-body-item:hover {
    cursor: pointer;
    background-color: lightgrey;
    font-weight: bold;
    color: white;
}
.chat-sidebox-body-item:focus {
    cursor: pointer;
    background-color: lightgrey;
    font-weight: bold;
    color: black;
}
.chat-fieldbox-body-show-message-sender {
    width: 100%;
    height: auto;
    margin: 3px;
    overflow: hidden;
}
.chat-fieldbox-body-show-message-img {
    width: 3vh;
    height: 3vh;
    float: left;
    margin-left: 2px;
    display: inline-block;
}
.chat-fieldbox-body-show-message-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-fieldbox-body-show-message-send-item {
    height: auto;
    padding: 1vh;
    margin-left: 4px;
    word-break: break-all;
    max-width: 80%;
    background-color: lightgreen;
    border-radius: 2px;
    font-size: 6px;
    display: inline-block;
}
.chat-fieldbox-body-show-message-receive {
    width: 100%;
    height: auto;
    margin: 3px;
    overflow: hidden;
}
.chat-fieldbox-body-show-message-receive-img {
    width: 3vh;
    height: 3vh;
    float: right;
    margin-left: 2px;
    display: inline-block;
}
.chat-fieldbox-body-show-message-receive-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-fieldbox-body-show-message-receive-item {
    height: auto;
    padding: 1vh;
    margin-right: 4px;
    word-break: break-all;
    max-width: 80%;
    background-color: white;
    border-radius: 2px;
    font-size: 6px;
    display: inline-block;
    float: right;
}

.chat-sidebox-body-item {
    width: 100%;
    padding: 1px;
}

.chat-sidebox-body-item-img {
    height: 6vh;
    width: 6vh;
    margin-left: 1px;
    display: inline-block;
}

.chat-sidebox-body-item-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-sidebox-body-item-text {
    margin-left: 2px;
    display: inline-block;
    font-size: 20px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    background: #F9F9F9;
}

#container {
    max-width: 900px;
    margin: auto;
}

#content {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: white;
}

#content h1:first-child {
    margin-top: 0px;
}

#articlecontent {
    font-family: 'Ubuntu', 'Noto Serif SC', 'source-han-serif-sc', 'sans-serif';
}

#articlecontent > nav {
    border: 1px solid #ddd;
    border-radius: 3px;
    background: white;
    margin-right: 10px;
}

nav > ul {
    position: sticky;
    top: 5px;
    margin: 10px 0px;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

nav > ul > li {
    min-width: 125px;
    padding: 0px 15px;
}

nav > ul > li > ul {
    padding-left: 25px;
}

nav > ul > li > ul > li {
    font-size: 0.8em;
}

nav .selected {
    color: #111;
    font-weight: bold;
}

nav .selected:hover {
    text-decoration: none;
}

header {
    display: flex;
}

header h1 { margin: 0; }

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
    margin: 15px;
}

th {
    background-color: lightgrey;
}

td, th {
    border: 1px solid #ddd;
    padding: 5px;
}

#articlecontent > a {
    color: #0366d6;
    text-decoration: none;
}

#articlecontent > a:hover {
    text-decoration: underline;
}

#articlecontent pre {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    padding: 10px;
    font-size: 100%;
    border-radius: 3px;
}

#articlecontent code {
    font-weight: bold;
}

#articlecontent pre > code {
    font-weight: normal;
}

code:not([class]) {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.article_choice {
    font-weight: bold;
    text-decoration: underline;
}

.article_choice_hot {
    color: red;
}

.article_choice_new {
    color: black;
}

.article_choice_hot:hover {
    color: red;
}

.article_choice_new:hover {
    color: black;
}

.article_choice:hover {
    background-color: grey;
    text-decoration:none;
}

#articlecontent > h1{
    border-left: 5px solid red;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

#articlecontent > h2 {
    border-left: 5px solid orange;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

#articlecontent > h3 {
    border-left: 4px solid yellowgreen;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

#articlecontent > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

#articlecontent > h5 {
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

#articlecontent > h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

#articlecontent blockquote {
    border-left: 5px solid hotpink;
    padding-left: 15px;
    color: hotpink;
    background-color: rgba(255,105,180, 0.1);
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

#articlecontent a:hover {
    background-color: lightgrey;
}

#articleintroduction {
    text-align: center;
    color: brown;
}

.codehilite {
    border-radius: 10px;
}

input:checked + label {
    color: rgb(0,117,255);
    background-color: rgba(255,0,0,0.2);
    font-weight: bold;
}

.comment-item {
    font-size: 1em;
}

.article-list-item {
    background-color: rgba(255,229,153, 0.3);
    border-radius: 3px;
    margin:5px;
    padding-top: 5px;
}

.article-list-item:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 100ms;
}

.delete-comment-item {
    float: right;
}

.delete-comment-item:hover {
    cursor: pointer;
}
