{% extends 'base.html' %}
{% load static %}
{% block title %} 聊天室 {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- 私聊区 -->
        <div class="col-md-8">
            <!--私聊区heading -->
            <div class="row no-gutters border" style="border-radius:2px;">

                <!-- 私聊区heading-个人信息 -->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="chat-sidebox-heading panel-heading border" style="background-color:rgba(232,232,232, 0.4); height:8vh; padding:2px;">
                            <div class="chat-sidebox-heading-img" style="position:relative; width:30px; height:30px; display:inline-block; margin:5px;">
                                <a href="{% url 'userprofile:edit' user.id%}">
                                    <img src="{{ profile.avatar.url }}" class="" style="width:100%; height:100%; border-radius:50%;">
                                </a>
                            </div>


                            <div class="chat-sidebox-heading-username" style="position:relative; width:45%; height:100%; display:inline-block; font-weight:bold">
                                &nbsp; &nbsp; {{ user.username }}
                            </div>

                        </div>

                        <div class="panel-content">
                        </div>
                    </div>

                </div>

                <!-- 私聊区heading-好友信息 -->
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div id="chat-write-header" value="" class="chat-fieldbox-heading panel-heading" style="background-color:rgba(245,245,245, 0.6); text-align:center; font-weight:bold; height:8vh; font-size:25px; padding-top: 5px;">
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 私聊区右侧区域 -->
            <div class="row no-gutters" style="">
                <!-- 私聊区右侧聊天记录展示框 -->
                <div class="col-md-4">
                    <div class="chat-sidebox-body" style="height:70vh; background-color:rgba(232,232,232, 0.7)">
                        {% for u in users %}
                            {% if u.username != user.username %}
                            <div class="chat-sidebox-body-item" tabindex="{{ u.id }}" onclick='write_header_username("{{ user.username}}" ,"{{ u.username }}", "{{ u.id }}", "{{ u.profile.avatar.url }}")'>
                                <div class="chat-sidebox-body-item-img">
                                    <img src="{{ u.profile.avatar.url }}">
                                </div>
                                <div class="chat-sidebox-body-item-text">{{ u.username }}</div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!-- 私聊区右侧输入框 -->
                <div class="col-md-8 border" style="background-color:white">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="chat-fieldbox-body-show" style="height:45vh; width:100%; overflow:auto; overflow-x:hidden; background-color:rgba(245,245,245, 1);">
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-12 border-top chat-fieldbox-body-input" style="height:19.5vh">
                            <textarea id="chat-fieldbox-body-input-textarea" style="outline:none; resize:none; border:none;width:100%; height:100%;overflow:auto;" readonly></textarea>
                            <button id="chat-fieldbox-body-input-button" class="btn btn-sm btn-outline-secondary" style="float:right" onclick='send_message()'>发送(S)</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 公共聊天区 -->
        <div class="col-md-4">
            <div class="form-group">
                <p class="text-center" style="font-weight:bold">公共聊天区</p>

                <textarea id="pubwindow" class="form-control form-control-lg" style="position:relative; height:460px; font-size:15px; text-align:left; resize:none" readonly>{% for history in histories%}{{ history }}&#10;{% endfor %}</textarea>
                <br>

                <div class="input-group mb-3">
                    <input id="pubform-input" class="form-control" type="text" name="content" id="content" placeholder="说点儿什么吧.." style="position:relative; width:80%;">
                    <div class="input-group-append">
                        <button id="pubform-submit" class="btn btn-outline-secondary" type="submit">发送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let state = "", ps = "";
    $(document).ready(function() {
        text_move_to_end("pubwindow");
    });
    $('#pubform-input').keypress(function(e) {
        if (e.which == 13) {
            $('#pubform-submit').click();
        }
    });

    $('#chat-fieldbox-body-input-textarea').keypress(function(e) {
        if (e.which == 13) {
            $('#chat-fieldbox-body-input-button').click();
        }
    });


    $("#pubform-submit").click(function() {
        $.ajax({
            url: "http://101.35.183.71:10000/chat/send/pub/",
            type: "POST",
            headers: {
                'X-CSRFToken': "{{ csrf_token }}",
            },
            data: {
                'content': $('#pubform-input').val(),
            },
            success: function(resp) {
                let diff = resp.content + "&#10;";
                $('#pubwindow').append(diff);
                text_move_to_end("pubwindow");
            }
        });
        document.getElementById('pubform-input').value = "";
    })

    function text_move_to_end(divid) {
        var obj = $("#" + divid);
        if (obj.length)
            obj.scrollTop(obj[0].scrollHeight - obj.height());
    }

    function write_header_username(me, e, tid, url) {
        let id = "{{ user.id }}";
        if (tid != state) $('#chat-fieldbox-body-show').empty();
        state = tid;
        $('#chat-write-header').empty();
        $('#chat-write-header').append(e);
        document.getElementById('chat-fieldbox-body-input-textarea').readOnly = false;
        show_history(me, e); // show消息记录
        ps = new PrivateSocket(url, parseInt(id), parseInt(state));
        /*
        $.ajax({
            url: "http://101.35.183.71:10000/chat/getsrc/",
            type: "GET",
            data: {
                id: tid,
            },
            success: function(resp) {
                ps = new PrivateSocket(resp.url, parseInt(id), parseInt(state)); // 建立socket连接
            }
        });*/
    }

    function send_message() {
        if (state == "") return false;
        let val = $('#chat-fieldbox-body-input-textarea').val();
        if (val == "") return false;
        document.getElementById('chat-fieldbox-body-input-textarea').value = "";
        var $new_message = $(`
        <div class="chat-fieldbox-body-show-message-sender">
            <div class="chat-fieldbox-body-show-message-img">
                <img src="{{ profile.avatar.url }}" class="">
            </div>
            <div class="chat-fieldbox-body-show-message-send-item"></div>
        </div>
        `);
        var tmp = $new_message.find(".chat-fieldbox-body-show-message-send-item");
        tmp.append(val);
        $('#chat-fieldbox-body-show').append($new_message);
        ps.send_message(val);
        text_move_to_end("chat-fieldbox-body-show");
    }

    function show_history(me, m) {
        return true;
    }


</script>
{% endblock content %}
