<!--定义导航栏-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">

    <div class="container">
        <!--导航栏商标-->
        <a class="navbar-brand" href="{% url 'home_show' %}" style="font-family:'sansserif'">
            <strong>🏠CODING is life</strong>
        </a>

        <!--导航栏入口-->
        <div>
            <ul class="navbar-nav">
                <!--条目-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                        app
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href='{% url "chat:chatfield" %}'>chat</a>
                        <a class="dropdown-item" href="{% url 'coding:edit' %}">coding</a>
                        <a class="dropdown-item" href="{% url 'calculator:calculator' %}">calculator</a>
                        <a class="dropdown-item" href="{% url 'todo:show' %}">ToDo</a>
                    </div>
                </li>

                {% if user.is_authenticated %}
                    <!--如果用户已登录，显示用户名下拉框-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href='{% url "userprofile:edit" user.id%}'>profile</a>
                            <a class="dropdown-item" href='#' onclick="user_delete()">delete user</a>
                            <a class="dropdown-item" href='{% url "userprofile:logout" %}'>logout</a>
                        </div>
                    </li>

                    <form style="display:none;" id="user_delete" action="{% url 'userprofile:delete' user.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">发送</button>
                    </form>

                    <script>
                        function user_delete() {
                            // 调用弹窗删除
                            var r = confirm("确定要删除该用户吗？");
                            if (r == true) {
                                $('form#user_delete button').click();
                            }
                        }
                    </script>
                <!--若用户未登录，则显示登录入口-->
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "userprofile:login" %}'>login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div>
    <br><br><br>
</div>
