{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    新建文章
{% endblock title %}

{% block content %}
<!--写文章表单-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!--提交文章的表单-->
            <form method="post" action=".">
                {% csrf_token %}
                <!--文章标题-->
                <div class="form-group">
                    <label for="title">文章标题</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <!--文章正文-->
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <textarea type="text" class="form-control" id="body" name="body" row="12" style="position:relative;height:400px;"></textarea>
                </div>

                <!--提交按钮-->
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>
<script>
    <!-- 让 textarea 支持缩进-->
    document.getElementById('body').addEventListener('keydown', function(e) {
      if (e.key == 'Tab') {
        e.preventDefault();
        var start = this.selectionStart;
        var end = this.selectionEnd;

        // set textarea value to: text before caret + tab + text after caret
        this.value = this.value.substring(0, start) +
          "\t" + this.value.substring(end);

        // put caret at right position again
        this.selectionStart =
          this.selectionEnd = start + 1;
      }
    });
</script>

{% endblock content %}
