{% extends "base.html" %}
{% load static %}

{% block title %}
    新建文章
{% endblock title %}

{% block content %}
<!--写文章表单-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <!--提交文章的表单-->
            <form method="post" action=".">
                {% csrf_token %}
                <!--文章标题-->
                <div class="form-group">
                    <label for="title">文章标题</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <!-- 文章栏目 -->
                <div class="form-group" style="width:30%; display:inline-block; margin-right:5%;">
                    <label for="column">栏目和标签</label>
                    <select class="form-control" 
                            id="column" 
                            name="column" 
                            style="display:inline-block;"
                    >
                            <option value="none">请选择栏目..</option>
                        {% for column in columns %}
                            <option value="{{ column.id }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- 文章标签 -->
                <div class="form-group" style="display:inline-block; width: 60%;">
                    <label for="tags"></label>
                    <input type="text" 
                           class="form-control" 
                           id="tags" 
                           name="tags"
                           placeholder="请写入标签.." 
                           style="display:inline-block"
                    >
                </div>

                <!-- 文章简介 -->
                <div class="form-group">
                    <label for="introduction">文章简介</label>
                    <textarea type="text" class="form-control" id="introduction" name="introduction" style="position:relative;height:65px;font-size:85%;"></textarea>
                </div>

                <!--文章正文-->
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <textarea type="text" class="form-control" id="body" name="body" row="12" style="position:relative;height:400px;font-size:80%;"></textarea>
                </div>

                <!--提交按钮-->
                <button type="submit" class="btn btn-primary" style="float:right">完成</button>
            </form>
        </div>
    </div>
</div>
<script>
    <!-- 让 textarea 支持缩进-->
    document.getElementById('body').addEventListener('keydown', function(e) {
      if (e.key == 'Tab') {
        e.preventDefault();
        var start = this.selectionStart;
        var end = this.selectionEnd;

        // set textarea value to: text before caret + tab + text after caret
        this.value = this.value.substring(0, start) +
          "\t" + this.value.substring(end);

        // put caret at right position again
        this.selectionStart =
          this.selectionEnd = start + 1;
      }
    });
</script>

{% endblock content %}
