{% extends "base.html" %}
{% load static %}

{% block title %}
    文章详情
{% endblock title %}


{% block content %}
<!-- <script>hljs.initHighlightingOnLoad();</script> --> 

<div class="container">
    <div class="row">
        <div class="col-9 shadow-lg" style="border-radius:5px;">
            <h1 class="mt-4 mb-4" align="center"><strong>{{ article.title }}</strong></h1>
            <div class="alert alert-success">
                <div>
                    作者：{{ article.author }}
                    {% if user == article.author %}
                    -- <a href="#" onclick="confirm_safe_delete()">删除文章</a>
                    -- <a href="{% url "article:article_update" article.id %}">编辑文章</a>
                    {% endif %}
                </div>
                <div>
                    <span style="color:blue">
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ article.total_views }} &nbsp;&nbsp;&nbsp;
                    </span>

                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ article.comments.count }}
                    </span>
                </div>


                <!--新增隐藏表单-->
                <form 
                      style="display:none;" 
                      id="safe_delete"
                      action="{% url 'article:article_safe_delete' article.id %}" 
                      method="POST">
                    {% csrf_token %}
                    <button type="submit">发送</button>
                </form>
            </div>

            <!--文章内容-->
            <div class="alert alert-secondary">
                <div id="articleintroduction">简介：{{ article.introduction }}</div>
            </div>

            <div class="col-12">
                <div id="articlecontent">{{ article.body|safe }}</div>
            </div>

            <!-- 评论内容 -->
            <hr>

            {% if user.is_authenticated %}
                <div>
                    <form action="{% url 'comment:post_comment' article.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="body" name="body" rows="2" placeholder="评论点儿什么吧.."></textarea>
                            <button class="btn btn-sm btn-primary" style="float:right; margin-top:5px;">发送</button>
                        </div>
                    </form>
                </div>
                <br>
            {% else %}
                <br>
                <h5 class="row justify-content-center">
                    请<a href="{% url 'userprofile:login' %}">登录</a>后回复
                </h5>
                <br>
            {% endif %}

            <!-- 显示评论 -->
            <div>
                {% for comment in comments %}
                    <hr>
                    <p>
                        <strong style="color: red">
                            {{ comment.user }} &nbsp;&nbsp;&nbsp;
                        </strong> 
                        <span style="color: blue">
                            {{ comment.created|date:"Y-m-d H:i:s" }}
                        </span> 

                        <!-- 评论发布者或作者可以删除评论 -->
                        {% if comment.user.username == article.author or comment.user.username == user.username %}
                            <svg class="bi bi-trash delete-comment-item" onclick="if (confirm('确定要删除该评论吗？')) {$('form#delete_comment_{{ comment.id }} button').click();}" 
                                 width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        {% endif %}
                    </p>
                    <pre class="comment-item">{{ comment.body }}</pre>

                    <!-- 删除评论的隐藏表单 -->
                    <form 
                          style="display:none;" 
                          id="delete_comment_{{ comment.id }}"
                          action="{% url 'comment:delete_comment' comment.id article.id %}" 
                          method="POST">
                        {% csrf_token %}
                        <button type="submit">发送</button>
                    </form>
                {% endfor %}
            </div>
        </div>

        <div class="col-3 mt-4 sidebar" id="sidebar">
            <div class="sidebar__inner">
                <h4><strong>目录</strong></h4>
                <hr>
                <div>{{ toc|safe }}</div>
            </div>
        </div>
    </div>
</div>
<button id="returnTop" class="btn btn-dark" style="position:fixed; right:2%; bottom:10%;">&uarr;</button>
<button id="returnBottom" class="btn btn-dark" style="position:fixed; right:4.5%; bottom:10%;">&darr;</button>

<script>
    function confirm_safe_delete() {
        var r = confirm("确定要删除吗？");
        if (r == true) {
            $('form#safe_delete button').click();
        }
    }

    $('#returnTop').click(function() {
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    });
    $('#returnBottom').click(function() {
        window.scrollTo(0,document.body.scrollHeight);
    });


    // document.getElementById('articlecontent').innerHTML = marked.parse(document.getElementById('articlecontent').innerHTML);
</script>

<!-- 粘性侧边栏样式 -->
<style>
    .sidebar{
        will-change: min-height;
    }

    .sidebar__inner{
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
</style>

<!-- 引入粘性侧边栏 -->
<script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 20,
        bottomSpacing: 20,
    });
</script>

{% endblock content %}
