{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    文章详情
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row">
        <!--标题及作者-->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">
            作者：{{ article.author }} -- 
            <a href="#" onclick="confirm_safe_delete()">删除文章</a>
            <!--新增隐藏表单-->
            <form 
                  style="display:none;" 
                  id="safe_delete"
                  action="{% url 'article:article_safe_delete' article.id %}" 
                  method="POST">
                {% csrf_token %}
                <button type="submit">发送</button>
            </form>
        </div>

        <!--文章内容-->
        <div class="col-12">
            <p>{{ article.body|safe}}</p>
        </div>
    </div>
</div>



<script>
    function confirm_safe_delete() {
        var r = confirm("确定要删除吗？");
        if (r == true) {
            $('form#safe_delete button').click();
        }
    }

</script>

{% endblock content %}
