{% extends "base.html" %}
{% load static %}

<!-- 写入base.html中定义的title-->
{% block title %}
    我的博客
{% endblock title %}

{% block content %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="color:grey; user-select:none;">
                {% if order == 'total_views' %}
                    <a class="article_choice article_choice_new" href="{% url 'article:article_list' %}">选择最新视图</a>
                {% else %}
                    当前为最新视图
                {% endif %}
            </li>

            <li class="breadcrumb-item" style="color:rgb(255, 101, 101); user-select:none;">
                {% if order != 'total_views' %}
                    <a class="article_choice article_choice_hot" href="{% url 'article:article_list' %}?order=total_views">选择最热视图</a>
                {% else %}
                    当前为最热视图
                {% endif %}
            </li>
        </ol>
    </nav>

    <!-- 新增，搜索栏 -->
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text" 
                    class="form-control mb-2 mr-sm-2" 
                    name="search" 
                    placeholder="搜索文章..." 
                    required
                >
            </form>
        </div>
    </div>

    <!-- 新增，搜索提示语 -->
    {% if search %}
        {% if articles %}
            <h5><span style="color: green">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>        
        {% else %}
            <h5>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            <hr>
        {% endif %}
    {% endif %}


    <div class="row mt-2">

        {% for article in articles %}
        <!--文章内容-->
        <div class="col-4 mb-4">
        <!--卡片容器-->
            <div class="card h-100">
                <!--标题 card-header-->
                <h4 class="card-header">{{article.title}}</h4>

                <!--摘要 card-body-->
                <div class="card-body">
                    <!-- 取出文章的前100个字符 -->
                    <p class="card-text">{{ article.introduction }}</p>
                </div>

                <!--注脚 card-footer-->
                <div class="card-footer">
                    <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">阅读本文</a>
                    <span>
                        <small class="col align-self-end" style="color: gray">
                            浏览：{{ article.total_views }}
                        </small>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<!-- 显示页码 -->
<div class="pagination">
    <div class="m-auto">
        <span class="step-links">
            {% if articles.has_previous %}
            <a href="?page=1&order={{ order }}&search={{ search }}" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}" class="btn btn-secondary">
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}" class="btn btn-secondary">
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}" class="btn btn-success">
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
