{% extends "base.html" %}
{% load static %}

<!-- 写入base.html中定义的title-->
{% block title %}
    我的博客
{% endblock title %}

{% block content %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <div>
                {% if order == 'total_views' %}
                    <input type="radio" id="new-sort" name="sortway" value="new">
                {% else %}
                    <input type="radio" id="new-sort" name="sortway" value="new" checked>
                {% endif %}
                <label for="new">最新视图</label>
            </div>
            &nbsp;&nbsp;
            <div>
                {% if order != 'total_views' %}
                    <input type="radio" id="hot-sort" name="sortway" value="hot">
                {% else %}
                    <input type="radio" id="hot-sort" name="sortway" value="hot" checked>
                {% endif %}
                <label for="hot">最热视图</label>
            </div>
            <div class="col-auto mr-auto" style="margin-left:20px">
                <form class="form-inline" >
                    <label class="sr-only">content</label>
                    <input type="text" 
                        class="form-control mb-2 mr-sm-2" 
                        name="search" 
                        placeholder="搜索文章..." 
                        required
                        style="height:25px;"
                    >
                </form>
            </div>

        </ol>
    </nav>


    <!-- 新增，搜索提示语 -->
    {% if search %}
        {% if articles %}
            <h5><span style="color: green">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>        
        {% else %}
            <h5>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            <hr>
        {% endif %}
    {% endif %}


    <!-- 列表循环 -->
    <div class="row mt-2">
        {% for article in articles %}
            <!-- 文章内容 -->
            <div class="col-12 article-list-item" onclick="window.open('{% url 'article:article_detail' article.id %}')">
                <!-- 栏目 -->
                {% if article.column %}
                    <button type="button" style="font-weight:bold"
                        class="btn btn-sm mb-2
                            {% if article.column.title == 'Project' %}
                                btn-danger
                            {% elif article.column.title == 'Algorithm' %}
                                btn-success
                            {% elif article.column.title == 'Basis' %}
                                btn-warning
                            {% elif article.column.title == 'Plan'%}
                                btn-info
                            {% elif article.column.title == 'Template' %}
                                btn-primary
                            {% elif article.column.title == 'Script' %}
                                btn-dark
                            {% endif %}
                        "
                    >
                        {{ article.column }}
                    </button>
                {% endif %}

                <!-- 标签 -->
                <span>
                    {% for tag in article.tags.all %}
                        <a href="#"
                           class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>

                <!-- 标题 -->
                <h4>
                    <b>
                        <a href="{% url 'article:article_detail' article.id %}"
                           style="color: black;" target="_blank"
                        >
                            {{ article.title }}
                        </a>
                    </b>
                </h4>
                <!-- 摘要 -->
                <div>
                    <p style="color: gray;">
                        {{ article.introduction }}...
                    </p>
                </div>
                <!-- 注脚 -->
                <p>
                    <!-- 附加信息 -->
                    <span style="color:blue">
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>

                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>

                    <span>
                        <i class="fas fa-clock" style="color:grey;"></i>
                        {{ article.created|date:'Y-m-d' }} 发布&nbsp;&nbsp;&nbsp;
                    </span>

                    <span style="color: darkred;">
                        {{ article.updated|date:'Y-m-d' }} 更新
                    </span>
                </p>
            </div>
        {% endfor %}
    </div>
</div>

<!-- 显示页码 -->
<br>
<div class="pagination">
    <div class="m-auto">
        <span class="step-links">
            {% if articles.has_previous %}
            <a href="?page=1&order={{ order }}&search={{ search }}" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}" class="btn btn-secondary">
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}" class="btn btn-secondary">
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}" class="btn btn-success">
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>

<script>
$(document).ready(function() { 
    $('input[type=radio][name=sortway]').change(function() {
        var host = "http://" + window.location.host;
        if (this.value == "hot") window.location.href = host + "/article/article-list/?order=total_views";
        else window.location.href = host + "/article/article-list/";
    });
});
</script>
{% endblock content %}
